<div class="comments-row">
  <mat-form-field>
    <mat-label>Laisser un commentaire</mat-label>
    <input
      type="text"
      matInput
      placeholder="Ex: I'm the boss !!"
      [formControl]="commentCtrl"
    />
  </mat-form-field>
  <button mat-icon-button color="primary" (click)="onLeaveComment()">
    <mat-icon>send</mat-icon>
  </button>
</div>
<mat-list role="commentaires" *ngIf="comments.length" @list>
  <h3 matSubheader>Commmentaires</h3>
  <mat-list-item
    *ngFor="let comment of comments; let i = index"
    [@listItem]="animationStates[i]"
    (mouseenter)="onListItemMouseEnter(i)"
    (mouseleave)="onListItemMouseLeave(i)"
  >
    <span class="comment-text" matListItemTitle>{{ comment.comment }}</span>
    <span class="comment-date" matListItemLine>{{
      comment.createdDate | date
    }}</span>
  </mat-list-item>
</mat-list>
