<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span highlight color="green">{{ post.title | titlecase }}</span>
    </mat-card-title>
    <mat-card-subtitle>
      <span> {{ tempUser | userName : "en" }}</span>
      <span>{{ post.createdDate | timeAgo }}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    @if (post.imageUrl) {
    <img mat-card-image [src]="post.imageUrl" [alt]="post.title" />
    }
    <div class="post-content">{{ post.content | shorten : 35 }}</div>
  </mat-card-content>
  <mat-card-actions class="actions-block">
    <app-comments
      [comments]="post.comments"
      (newComment)="onNewComment($event)"
    ></app-comments>
  </mat-card-actions>
</mat-card>
