mat-card {
  margin-bottom: 20px;
  width: 100%;
}

mat-card-actions {
  padding: 10px 16px;
  width: 100%;
}

mat-card-content {
  img {
    margin-top: 10px;
    width: 100%;
    height: auto;
  }
}

.post-content {
  margin-top: 10px;
}

.actions-block {
  width: 100%;
}

app-comments {
  width: 100%;
}
