mat-card {
  margin-bottom: 20px;
}

mat-card-actions {
  padding: 10px 16px;
}

mat-card-content {
  img {
    margin-top: 10px;
    width: 100%;
    height: auto;
  }
}

.post-content {
  margin-top: 10px;
}
