<mat-card>
  <mat-card-header>
    <mat-card-title>Candidats</mat-card-title>
  </mat-card-header>

  <div class="form">
    <mat-form-field appearance="fill">
      <mat-label>Rechercher</mat-label>
      <input matInput type="text" [formControl]="searchCtrl" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-select [formControl]="searchTypeCtrl">
        <mat-option
          *ngFor="let option of searchTypeOptions"
          [value]="option.value"
        >
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-card-content>
    <mat-spinner *ngIf="loading$ | async"></mat-spinner>

    <mat-nav-list *ngIf="employees$ | async as employees">
      <mat-list-item
        *ngFor="let employee of employees"
        [routerLink]="employee.id.toString()"
      >
        <img
          matListItemAvatar
          [src]="employee.imageUrl"
          [alt]="employee.lastName"
        />
        <div matListItemTitle>
          {{ employee.firstName }} {{ employee.lastName }}
        </div>
        <div matListItemLine>
          {{ employee.job }} chez {{ employee.company }}
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
